# temp files
temp.png

# built artifacts
miaoko
miaospeed*
dist
*.tgz
*.dev.sh
build.*.sh
build.*.bat
*.mmdb

# configs
test.yaml
config.yaml
.history.yaml

# embeded
*/embeded/*
!*/embeded/.gitkeep
!*/embeded/predefined.js
# SatkiExE808: stub embed files are committed
!utils/embeded/BUILDTOKEN.key
!preconfigs/embeded/ca-certificates.crt
!preconfigs/embeded/speedtesturl
!preconfigs/embeded/miaokoCA
!preconfigs/embeded/miaokoCA/miaoko.crt
!preconfigs/embeded/miaokoCA/miaoko.key
!engine/embeded/default_geoip.js
!engine/embeded/default_ip.js


# intermediates
emojis
history
fonts

# miscs
.DS_Store
._.DS_Store

# dev
.idea
.vscode
